<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>地址管理</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		
		<meta name="description" content="">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <link href="apple-touch-icon.png" rel="apple-touch-icon">
	    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	    <link href="https://cdn.bootcss.com/framework7/1.6.5/css/framework7.ios.min.css" rel="stylesheet">
	    <link href="https://cdn.bootcss.com/framework7/1.6.5/css/framework7.ios.colors.min.css" rel="stylesheet">
	    <link href="css/style.css" rel="stylesheet">
			
		<style>
			body{
				background:#ffffff; 
			}
			.header{
				  height: 50px;
				  background:#e7e7e7; 
			}
			.back{
				text-align: left;
				margin-left: 10px;
				position: relative;
				float: left;
			}
			.back img{
				margin-top: 5px;
				width: 80%;
			}
			.title{
				line-height: 50px;
				font-size: 24px;
				margin-left: 80px;
			}
			.addAddress{
				width: 100%;
				position: absolute;
				bottom: 0;
				text-align: center;
			}
			.addAddress button{
				width: 100%;
				height: 45px;
				font-size: 20px;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<div class="mui-action-back back">
				<img src="../imgs/others/返回.png" />
			</div>
			<div class="title">
				添加新地址
			</div>
		</div>
		
		<div class="views">
        <div class="view view-main">
            <!-- navbar -->
            <!-- <div class="navbar">
            <div class="navbar-inner" data-page="home">
                <div class="left"></div>
                <div class="center"></div>
                <div class="right"></div>
            </div>
            </div> -->
            <!-- Pages -->
            <div class="pages">
                <div class="page" data-page="home">
                    <div class="page-content hide-tabbar-on-scroll">
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">收货人
                                                <font class="color-red">*</font>
                                            </div>
                                            <div class="item-input">
                                                <input type="text" placeholder="收货人姓名" name="consignee">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">联系电话
                                                <font class="color-red">*</font>
                                            </div>
                                            <div class="item-input">
                                                <input type="tel" placeholder="手机号" name="telephone">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">所在地区
                                                <font class="color-red">*</font>
                                            </div>
                                            <div class="item-input">
                                                <input type="text" placeholder="请选择城市" readonly id="location" name="location">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">详细地址
                                                <font class="color-red">*</font>
                                            </div>
                                            <div class="item-input">
                                                <input type="text" placeholder="街道、楼号" name="detailedAddress">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="content-block">
                            <span class="button button-big button-fill">确定</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
		
		
		
		<!--<form class="mui-input-group">
		    <div class="mui-input-row" style="height: 50px;font-size: 20px;">
		        <label style="">收货人</label>
		    	<input type="text" class="mui-input-clear" placeholder="收货人地址" style="height: 50px;font-size: 20px;">
		    </div>
		    <div class="mui-input-row" style="height: 50px;font-size: 20px;">
		        <label style="">联系电话</label>
		    	<input type="text" class="mui-input-clear" placeholder="电话号码" style="height: 50px;font-size: 20px;">
		    </div>
		    <div class="mui-input-row" style="height: 50px;font-size: 20px;">
		        <label style="">所在地区</label>
		    	<input type="text" class="mui-input-clear" placeholder="" style="height: 50px;font-size: 20px;">
		    </div>
		    <div class="mui-input-row" style="height: 50px;font-size: 20px;">
		        <label style="">详细地址</label>
		    	<input type="text" class="mui-input-clear" placeholder="请输入用户名" style="height: 50px;font-size: 20px;">
		    </div>
		</form>-->
		
		<div class="mui-bar-footer mui-card-content-inner addAddress">
			<a href="address.html"><button type="button" class="mui-btn mui-btn-danger add">保存</button></a>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/app.js"></script>
		<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	    <script src="https://cdn.bootcss.com/framework7/1.6.5/js/framework7.min.js"></script>
	    <script src="../js/regionsObject2.js"></script>
	    <script src="../js/cityPicker.js"></script>
		<script type="text/javascript">
			mui.init();
			
		</script>
	</body>
</html>
