<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<style type="text/css">
			.item{
				width: 50%;
				float: left;
				text-align: center;
			}
			.item img{
				width: 95%;
				height: auto;
			}
			.item p{
				text-align: center;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title">标题</h1>
		</header>
		<div class="mui-content">
		    <div id="items">
		    	<a href="#">
    				<div class="item">
	    				<img src="../imgs/sort/nvz1.jpg" />
	    				<p>夹克</p>
	    			</div>
    			</a>
    			<a href="#">
    				<div class="item">
	    				<img src="../imgs/sort/nvz2.jpg" />
	    				<p>夹克</p>
	    			</div>
    			</a>
		    </div>
		</div>
		
		<script src="../js/mui.min.js"></script>
		<script type="text/javascript">
			mui.init()
		</script>
	</body>

</html>